

.flexbox-container, .ButtonContainer {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem 2rem;
}
.flexbox-container img {
  animation: 1s ease;
}
.flexbox-container div {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#eff0f1),
      color-stop(98%, #c0c5ca)
    ),
    radial-gradient(
      at bottom,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background: linear-gradient(180deg, #eff0f1 0%, #c0c5ca 98%),
    radial-gradient(
      at bottom,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: screen;
  border-radius: 20px;
  width: 400;
}
.flex-item > h4 {
  color: white;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 10px;
  background-image: linear-gradient(-20deg, #b9bdbc 0%, #8d8d8d 100%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.flex-item:hover {
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.flex-item:hover h4 {
  background-image: linear-gradient(-20deg, #45facd 0%, #a70fff 100%);
  color: rgb(255, 255, 255);
}
.flex-item img {
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.flex-item img:hover {
  transform: scale(1.05);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.title-Card {
  text-shadow: 0px 0px 2px rgba(39, 39, 145, 0.5);
}
h1, h2, h3, h4, h5, p {
  text-transform: uppercase;
	line-height: 1.5;
	font-weight: 400;
  color: rgba(0, 0, 0, 0.63);
}
li {
  list-style: none;
  margin: 5px 5px 5px 5px;
  display: inline-block;
} 