.NavBar {
  background-color: #524b4b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.NavBar a {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  margin: 5px 10px 5px 10px;
  border: 1px;
  border-radius: 10px;
  font-family: 'Teko', sans-serif;;
  transition: all 0.5s ease-in-out;
}

.NavBar a:hover {
  letter-spacing: 5px;
  color: rgba(0, 224, 138, 0.733);
  text-shadow: 0px 0px 5px rgba(0, 255, 157, 0.75);
  transition: all 0.5s ease-in-out;
}

.logoContainer {
  display: inline-block;
  min-width: 20%;
  align-items: center;
  text-align: start;
  justify-content: center;
}

.nav-menus {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.CarWidget {
  display: inline-flex;
  min-width: 10%;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.CarWidget h3:hover {
  font-size: 2rem;
  color: rgba(0, 224, 138, 0.733);
  text-shadow: 0px 0px 5px rgba(0, 255, 157, 0.75);
  transition: all 0.3s ease;
}