.ButtonContainer {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem 2rem;
}

.btnRest {
  background: linear-gradient(to bottom, #ff0432, #ffb25ab9);
  border: 0;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.295)
}

.btnRest:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.295), -.125rem -.125rem 1rem rgba(163, 6, 35, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btnReset {
  background: linear-gradient(to bottom, #ff0432, #ff735ab9);
  border: 0;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.295)
}

.btnReset:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.295), -.125rem -.125rem 1rem rgb(247, 3, 48), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btnSum {
  background: linear-gradient(to bottom, #01b478, #5af4ffc4);
  border: 0;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.295)
}

.btnSum:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.295), -.125rem -.125rem 1rem rgba(6, 163, 77, 0.5), .125rem .125rem 1rem rgba(90, 255, 241, 0.5);
}

.btnAdd {
  background: linear-gradient(to left, #00a9c7, #5ad9ffb9);
  border: 0;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.295)
}

.btnAdd:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.11), -.125rem -.125rem 1rem rgba(6, 152, 163, 0.5), .125rem .125rem 1rem rgba(90, 255, 118, 0.5);
}